<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sxnwlfkk.dailyroutines">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".views.mainActivity.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".views.editActivity.EditActivity"
            android:windowSoftInputMode="stateHidden"
            android:launchMode="singleTask"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:parentActivityName=".views.mainActivity.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".views.profileActivity.ProfileActivity"
            android:launchMode="singleTask"
            android:parentActivityName=".views.mainActivity.MainActivity"
            android:theme="@style/AppTheme" />

        <provider
            android:name=".data.RoutineProvider"
            android:authorities="com.sxnwlfkk.dailyroutines"
            android:exported="false" />

        <activity
            android:name=".views.clock.ClockActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask"
            android:label="@string/title_activity_clock"
            android:parentActivityName=".views.profileActivity.ProfileActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.sxnwlfkk.dailyroutines.views.profileActivity.ProfileActivity" />
        </activity>
        <activity android:name=".views.preference.SettingsActivity"></activity>

        <receiver android:name=".backend.AlarmNotificationReceiver">
            <intent-filter>
                <action
                    android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".backend.VibrationNotificationReceiver"></receiver>
        <service android:name=".views.clock.ClockService" />
    </application>

</manifest>